* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    height: 15vh;
    width: 100%;
    margin: auto;
    align-items: center;
    background-color: black;
    color: white;
}

.nav-links, .cart {
    display: flex;
}

.brand {
    flex: 1;
    margin: 0px 30px;
}

.brand-name {
    font-weight: 400;
}

.brand p {
    font-size: 12px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-evenly;
    list-style: none;
}

.nav-link {
    color :white;
    font-size: 18px;
    text-decoration: none;
}

.cart {
    flex: 1;
    justify-content: space-evenly;
}

.watch{
    padding: 5px 0;
}

.phone, .watch, .pad {
    display: flex;
    align-items: center;
}

.introduction h1, .watch-introduction h1, .pad-introduction h1 {
    font-size: 44px;
    font-weight: 500;
}

.introduction p, .watch-introduction p, .pad-introduction p {
    font-size: 22px;
    margin-top: 10px;
}

.potato-phone, .potato-watch, .potato-pad {
    flex: 1;
    margin: 0px 30px;
}

.cta {
    margin: 30px 0 0 0;
}

.cta-select1 {
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.cta-select1:hover {
    background-color: white;
    color:black;
    border: 2px solid black;
}

.cta-select2 {
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.cta-select2:hover {
    background-color: white;
    color:black;
    border: 2px solid black;
}

.cta-add {
    width: 150px;
    height: 30px;
    background-color: white;
    color:black;
    border: 2px solid black;
    cursor: pointer;
}

.cta-add:hover {
    background-color: black;
    color: white;
}

.potato-img, .watch-img, .pad-img {
    flex: 1;
}

.potato-img img, .watch-img img, .pad-img img {
    height: 60vh;
    margin: 50px 0 0 150px;
    animation: drop 1.5s ease;
}

@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.footer-details {
    background-color: black;
    padding: 30px 0;
    color: white;
}

.footer-details, .product-details {
    display: flex;
    align-items: center;
}

.product-details, .explore, .about {
    flex: 1;
}

.explore, .about {
    text-align: center;
}

.explore h5 {
    font-size: 22px;
    font-weight: 400;
}

.explore-link {
    font-size: 16px;
    padding: 2px 0;
    text-decoration: none;
    color:gray;
    cursor: pointer;
    
}

.explore-links {
    padding: 23px 0;
}

.social-links {
    flex: 1;
    text-align: center;
}

.social-links p {
    font-size: 12px;
    padding: 0 0 10px;
}

.about-links, .explore-links {
    list-style: none;
}

.about-link {
    font-size: 16px;
    padding: 2px 0;
    text-decoration: none;
    color:gray;
    cursor: pointer;
}

.fab {
    padding: 0px 5px;
    cursor: pointer;
}

.copyright {
    margin: 20px 0;
    font-size: 12px;
    text-align: center;
}

@media (max-width: 1050px) {
   /* header */
    .brand h2 {
        font-size: 16px;
    }
    .brand p {
        font-size: 8px;
    }
    .nav-link {
        font-size: 10px;
    }
    .cart i {
        font-size: 16px;
    }
    /* main */
    .phone {
        flex-direction: column-reverse;
    }
    .watch {
        flex-direction: column;
    }
    .pad {
        flex-direction: column-reverse;
    }
    main {
        padding: 20px 0;
        align-items: center;
    }
    .potato-img img, .watch-img img, .pad-img img {
        height: 30vh;
        margin: 50px 0 0 150px;
        position: relative;
        right: 30%;
    }
    .introduction h1, .watch-introduction h1, .pad-introduction h1 {
        font-size: 28px;
        font-weight: 500;
    }
    .introduction p, .watch-introduction p, .pad-introduction p {
        font-size: 14px;
        margin-top: 10px;
    }
    .cta-select1, .cta-select2, .cta-add {
        width: 75px;
        height: 30px;
        font-size: 10px;
    }
    .explore h5 {
        font-size: 14px;
    }
    .explore-link {
        font-size: 10px;
        padding: 0px;
    }
    .explore-links {
        padding: 5px 0px;
    }
    .about-link {
        font-size: 10px;
        padding: 0px;
    }
    .copyright {
        font-size: 8px;
    }
}